<ngx-charts-line-chart [view]="chartConfig.view"
                       [scheme]="chartConfig.colorScheme"
                       [results]="chartConfig.data"
                       [gradient]="chartConfig.gradient"
                       [xAxis]="chartConfig.showXAxis"
                       [yAxis]="chartConfig.showYAxis"
                       [legend]="chartConfig.showLegend"
                       [showXAxisLabel]="chartConfig.showXAxisLabel"
                       [showYAxisLabel]="chartConfig.showYAxisLabel"
                       [xAxisLabel]="chartConfig.xAxisLabel"
                       [yAxisLabel]="chartConfig.yAxisLabel">
</ngx-charts-line-chart>
