<div class="du-view">
    <h1 class="du-view-title">
        Welcome to {{ title }}, dude!
    </h1>
    <div class="du-view-content">
        <textarea [(ngModel)]="log"
                  class="du-log"></textarea>
        <div class="du-command">
            <div class="du-command-suggestion">{{ suggestion | async }}</div>
            <input [formControl]="command"
                   class="du-command-value"
                   (keydown)="commandKeyDown($event)" />
        </div>
    </div>
</div>
