<div class="app-am">
    <button class="app-button-round"
            (click)="spawnCreature()">Spawn creature</button>
    <div class="app-am-stats">
        <table>
            <tr *ngFor="let stat of getStats()">
                <td>{{stat.name}}</td>
                <td>{{stat.value}}</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Age distribution</h3>
        <app-line-chart [chartConfig]="charts.ageDistribution"></app-line-chart>
    </div>
    <div>
        <h3>Causes of death</h3>
        <h4>Default mortality due to age</h4>
        <app-line-chart [chartConfig]="charts.defaultMortalityDistribution"></app-line-chart>
        <h4>Child mortality</h4>
        <app-line-chart [chartConfig]="charts.childMortalityDistribution"></app-line-chart>
    </div>
</div>
