<div class="app-am">
    <div class="app-am-stats">
        <table>
            <tr *ngFor="let stat of getStats()">
                <td>{{stat.name}}</td>
                <td>{{stat.value}}</td>
            </tr>
        </table>
    </div>
    <div>
        <ngx-charts-line-chart [view]="view"
                               [scheme]="colorScheme"
                               [results]="chartData"
                               [gradient]="gradient"
                               [xAxis]="showXAxis"
                               [yAxis]="showYAxis"
                               [legend]="showLegend"
                               [showXAxisLabel]="showXAxisLabel"
                               [showYAxisLabel]="showYAxisLabel"
                               [xAxisLabel]="xAxisLabel"
                               [yAxisLabel]="yAxisLabel"
                               [autoScale]="autoScale"
                               (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </div>
    <button class="app-button-round"
            (click)="spawnCreature()">Spawn creature</button>
</div>
